body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Arial;
    margin: 0 auto;
}

header {
    width: 100vw;
    height: 5vh;
    text-align: center;
}

#wrapper {
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: space-around;
}

#wrapper p {
    text-align: center;
    font-size: 150%;
    margin-bottom: 1%;
}

#markdownText, #previewText {
    width: 100%;
    height: 85%;
    resize: none;
    outline: none;
    border: 1px solid gray;
}

#previewText p {
    text-align: left;
}

#markdown {
    width: 45vw;
}

#preview {
    width: 45vw;
}